on: push
name: Run tests
jobs:
  # The `ci-result` job doesn't actually test anything - it just aggregates the
  # overall build status for bors, otherwise our bors.toml would need an entry
  # for each individual job produced by the job-matrix.
  #
  # Ref: https://github.com/rust-lang/crater/blob/9ab6f9697c901c4a44025cf0a39b73ad5b37d198/.github/workflows/bors.yml#L125-L149
  #
  # ALL THE SUBSEQUENT JOBS NEED THEIR `name` ADDED TO THE `needs` SECTION OF THIS JOB!
  ci-result:
    name: ci result
    runs-on: ubuntu-latest
    needs:
      - rstar
      - no_std
    steps:
      - name: Mark the job as a success
        if: success()
        run: exit 0
      - name: Mark the job as a failure
        if: "!success()"
        run: exit 1

  rstar:
    name: rstar
    runs-on: ubuntu-latest
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    defaults:
      run:
        working-directory: rstar
    strategy:
      matrix:
        container_image:
          # Minimum supported rust version (MSRV)
          - "georust/geo-ci:rust-1.51"
          # Two most recent releases - older ones are omitted.
          - "georust/geo-ci:rust-1.58"
          - "georust/geo-ci:rust-1.59"
    container:
      image: ${{ matrix.container_image }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - run: cargo install --version 1.6.0 cargo-all-features
      - run: cargo build-all-features
      - run: cargo test-all-features
      - run: cargo build -p rstar-benches

  no_std:
    name: rstar no_std test
    runs-on: ubuntu-latest
    env: 
      NO_STD_TARGET: aarch64-unknown-none
    steps:
      - name: Checkout repository
        uses: actions/checkout@v2
      - name: Install stable toolchain
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          target: ${{env.NO_STD_TARGET}}
          toolchain: stable
          override: true
      - name: Run cargo build for ${{env.NO_STD_TARGET}}
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --package rstar --target ${{env.NO_STD_TARGET}}
